@import url("normalize.css");

div {
    display: block;
}

a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__main {
    position: fixed;
    background-color: #007765;
    height: 84px;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
}

.header__container {
    padding-left: 55px;
    padding-right: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.pipernet {
    margin-top: 84px;
    background: url("../img/pipernet.svg") center no-repeat;
    padding-top: 160px;
    padding-bottom: 160px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 72px;
    text-align: center;
}

.text-container {
    padding-left: 55px;
    padding-right: 55px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-text {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    text-align: center;

    color: #007765;
}

.normal-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    max-width: 1110px;


    color: #000000;
}
